{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Add Note</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href=".">Lab 4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/lab-4/">Table Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/lab-4/note-list">Card Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/lab-4/add-note">Add Note</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="font-weight-bold">Add Note</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container bg-white shadow">
        <div class="form">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group row">
              <label for="id_title" class="col-sm-1 col-form-label">Title:</label>
              <div class="col-sm-4">
                <input type="text" name="title" class="form-control" maxlength="30" required id="id_title">
              </div>
            </div>
            <div class="form-group row">
              <label for="id_note_from" class="col-sm-1 col-form-label">From:</label>
              <div class="col-sm-4">
                <input type="text" name="note_from" class="form-control" maxlength="30" required id="id_note_from">
              </div>
            </div>
            <div class="form-group row">
              <label for="id_note_to" class="col-sm-1 col-form-label">To:</label>
              <div class="col-sm-4">
                <input type="text" name="note_to" class="form-control" maxlength="30" required id="id_note_to">
              </div>
            </div>
            <div class="form-group row">
              <label for="id_message" class="col-sm-1 col-form-label">Message:</label>
              <div class="col-sm-4">
                <textarea name="message" class="form-control" cols="40" rows="10" required id="id_message"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-1"></label>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/popper/popper.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascript"></script>

  </body>
</html> 
