{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Table Note</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>

  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href=".">Lab 5</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link text-white" href="/lab-5/">Table Note</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href="/lab-5/note-list">Card Note</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href="/lab-5/add-note">Add Note</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="font-weight-bold">Table Note</h1>
      </div>
    </div>

    <div class="modal fade" id="modal-note" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
					  <button id="button-close"class='btn btn-secondary' data-dismiss='modal'>Close</button>
				  </div>
			  </div>
			</div>
		</div>

		<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h3><b>Edit Note</b></h3>
	        </div>
	        <form action="">
	        <div id="editButton" class="modal-body">
	          <label for="id_title">Title</label>
	          <input type="text" name="title" class="form-control" maxlength="30" required id="id_title">
	          <label for="id_note_from">From</label>
            <input type="text" name="note_from" class="form-control" maxlength="30" required id="id_note_from">
	          <label for="id_note_to">To</label>
	          <input type="text" name="note_to" class="form-control" maxlength="30" required id="id_note_to">
	          <label for="id_message">Message</label>
	          <textarea name="message" class="form-control" cols="40" rows="10" required id="id_message"></textarea>
	        </div>
	        <div class="modal-footer">
	            <button type="submit" class="btn btn-primary">Save changes</button>
	            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
	        </div>
	        </form>
	      </div>
	    </div>
	  </div>


    <div class="container-fluid">
      <div class="container bg-white shadow">
        <table class="table table-hover table-striped" id="table-note">
	  			<thead class="bg-primary text-white">
				    <tr>
				      <th scope="col">Title</th>
				      <th scope="col">Sender</th>
				      <th scope="col">Receiver</th>
				      <th scope="col">Message</th>
				      <th scope="col">Actions</th>
				    </tr>
				  </thead>

				  {% for note in note_list %}
					  <tr id="{{ note.id }}">
				    	<td class="title">{{ note.title }}</td>
				    	<td class="from">{{ note.note_from }}</td>
				    	<td class="to">{{ note.note_to }}</td>
					    <td class="message">{{ note.message|linebreaksbr }}</td>
					    <td>
					    		<button data-selector="{{ note.id }}" class="btn btn-secondary btn-sm view-note" data-toggle="modal" data-target="#modal-note">View</button>
							    <button data-selector="{{ note.id }}" class="btn btn-secondary btn-sm edit-note" data-toggle="modal"data-target="#modal-edit">Edit</button>
							    <button data-selector="{{ note.id }}" class="btn btn-secondary btn-sm del-note" data-toggle="modal"data-target="#modal-note">Delete</button>
					    </td>
					  </tr>
					{% endfor %}
				</table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
		<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>

  </body>
</html>