<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <h1>Note List</h1>
    <table border="1" width="100%" cellspacing="0" cellpadding="10">
	<tr>
	  <th>Title</th>
	  <th>Sender</th>
	  <th>Receiver</th>
	  <th>Message</th>
	</tr>
        {% for note in note_list %}
	  <tr>
    	    <td>{{ note.title }}</td>
    	    <td>{{ note.note_from }}</td>
    	    <td>{{ note.note_to }}</td>
	    <td>{{ note.message|linebreaksbr }}</td>
	  </tr>
	{% endfor %}
    </table>
  </body>
</html>
